h1{
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.bi-geo-alt {
    font-size: 16px !important;
    color: red;
}

footer{
    color: white;
}

.bi {
    font-size: 32px;
    color: white;
}

.mapa {
    width: 100%;
    height: 250px;
    padding: 16px 0;
    border-radius: 16px;
}

.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
}

.paisaje {
    object-fit: cover;
}
    
